* {
    margin:0;
    padding:0;
    background-color: rgb(222, 236, 248);
    font-family: 'Roboto', sans-serif;
    }



#encabezado h2{
    
    text-align: center;
    background-image: linear-gradient(to top,rgb(170, 197, 221),rgb(228, 238, 247)) ;
    
}

.presentacion{width: 800px; height: 210px; margin: 0 auto;
}


#foto img{

height: 200px;
width: 200px;
background-repeat: no-repeat;
background-position: 50%;
border-radius: 50%;
background-size: 100% auto;
position: absolute;
;

}

#introduccion{
    width: 550px;
    position: relative;
    float: right;
}

#introduccion h1{
    text-align: center;
}

#introduccion p{
    padding-top: 15px;
    padding-right: 30px;
    font-size: 18px;
    
}

.contenido{width: 800px; margin: 0 auto; 
}

.datos{
    width: 266px;
    display: table-cell;
    padding: 10px;
    

}
#btninfo1{
    
    background-image: linear-gradient(to left, rgb(93, 146, 192), rgb(142, 183, 219),rgb(93, 146, 192));
}
    

#btninfo2{

    background-image: linear-gradient(to left, rgb(93, 192, 162),rgb(158, 224, 204), rgb(93, 192, 162));   
}

#btninfo3{
    
    background-image: linear-gradient(to left, rgb(166, 192, 94), rgb(206, 224, 175), rgb(166, 192, 94));    
}

.datos button{
    border: 3px solid rgba(100, 100, 100,0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 260px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 18px;
    border-radius: 20px 0px;
    text-align: center;
    cursor: pointer;
    background-size: 300%;
    transition: 0.6s;
}

.datos button:hover{
    background-position: right;

} 

.datos img{
    filter: brightness(2.1);
    mix-blend-mode: multiply;
}

#subseccion1, #subseccion2, #subseccion3{
    border: 2px solid rgba(100, 100, 100, 0.1);
    border-radius: 8px;
    padding: 15px;
    display: none;

}
